/*table start*/
table.default-table{
    /* -moz-border-radius: 5px;	-webkit-border-radius:5px;	border-radius:5px; */
    width: 100%;
    border:solid #333;
    border-width:1px 0px 0px 1px;
    font-size: 20px;
    border-collapse: collapse;
    border-spacing: 0;
}

table.default-table tbody tr{
    height: 20px;
    line-height: 20px;
}

table.default-table tbody tr.odd{
    background-color: #fff;
}

table.default-table tbody tr.even{
    background-color: #F5F5F5;
}

table.default-table tbody tr:hover{
    background-color: #eee;
}

table.default-table tbody tr th,table.default-table tbody tr td{
    padding:3px 5px;
    text-align: left;
    /* border: 1px solid #ddd; */
    border:solid #333;
    border-width:0px 1px 1px 0px;
}

table.default-table tbody tr th{
    font-weight: bold;
    text-align: center;
}

table.default-table tbody tr td.tac{
    text-align: center;
}

table.default-table tbody tr td a:hover{
    color:#0080c0;
}/*table end*/

.pagination {
    float: right;
}