<div class="sidebar sidebar-main">
	<div class="sidebar-content">
		<!-- Main navigation -->
		<div class="sidebar-category sidebar-category-visible">
			<div class="category-content no-padding">
				<ul class="navigation navigation-main navigation-accordion">
					<li class="no-active-0"><a href=""><i class="icon icon-home2"></i> <span>首页</span> </a></li>
					<li><a href="#download_queue" target="_blank"><i class="icon  icon-price-tags2"></i> <span>队列抓取</span></a></li>
					<li><a href="#current"><i class="icon  icon-brain"></i> <span>实时抓取</span> </a></li>
					<li><a href="#result"><i class="icon icon-stats-bars3"></i> <span>结果展示</span> </a></li>
					<li><a href="#about"><i class="icon  icon-yelp"></i> <span>关于系统</span> </a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
					
