{% extends "learn_app/base.html" %}
{% block content %}
    <div>
        <div style="width: 15%; float: left; margin: auto">{% include "sidebar_main.html" %}</div>
        <div style="width: 85%; height:100%; float: left; border: 1px solid #FF9800;">
{#            <div class="tab-pane fade in active" id="download_queue"><span>a</span></div>#}
{#            <div class="tab-pane fade in active" id="current"><span>b</span></div>#}
{#            <div class="tab-pane fade in active" id="result"><span>c</span></div>#}
{#            <div class="tab-pane fade in active" id="about"><span>d</span></div>#}
            <div>sdfasdf</div>
        </div>
    </div>
    <script>
        $('.sidebar a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        });
    </script>
{#{% include "content.html" %}#}
{#{% block content %}{% endblock %}#}
{#<a href="http://127.0.0.1:8000/logout/">退出</a>#}
{% endblock %}